@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl md:text-7xl text-center font-display text-primary mb-4 filter drop-shadow-glow;
    -webkit-text-stroke-width: 12px;
    -webkit-text-stroke-color: theme("colors.black");
    paint-order: stroke fill;
  }
}

body {
  color: theme("colors.primary");
  background: theme("colors.black");
}
